@model IEnumerable<Customer>
@{
    ViewBag.title = "Users List";
}

<h1>List Of Users</h1>
<div class="container p3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">View users</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-controller="Customer" asp-action="add">Create New User</a>
        </div>
    </div>
    @*<p>@Model.Count()</p>*@

    @if (Model.Any())
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td width="30%">@item.Id</td>
                    <td width="30%">@item.FirstName</td>
                    <td width="30%">@item.LastName</td>
                    <td width="30%">@item.Gender</td>
                    <td width="30%">@item.Role</td>
                    <td><a asp-action="detail" asp-controller="Customer" asp-route-id="@item.Id" class="btn btn-success"> View</a></td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p> No Items have been recorded </p>
    }

</div>