@using static CBA.CORE.Enums.Enums;
@model IEnumerable<CBA.CORE.Models.GLAccount>


@{
    ViewBag.Title = "SelectSecondAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select Account To Debit</h2>
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table table-bordered table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountBalance)
            </th>
            <th>
                @Html.DisplayName("Category")
            </th>
            <th>
                @Html.DisplayName("Branch")
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GLCategory.Name)
                    @{
                        var mainCat = item.GLCategory.MainGLCategory;
                    }
                    @if (mainCat == MainGLCategory.Asset || mainCat == MainGLCategory.Expense)
                    {
                        <label> (Balance) + </label>
                    }
                    else
                    {
                        <label> (Balance) - </label>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Branch.Name)
                </td>
                <td>
                    @Html.ActionLink("Select Account", "Create", new { crId = ViewBag.CrGlAccountID, drId = item.ID })
                </td>
            </tr>
        }
    </tbody>

</table>
