@model IEnumerable<CBA.CORE.Models.ViewModels.TillAccountViewModel>

@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>All Tellers</h2>

<p>
    @Html.ActionLink("Assign Till To Teller", "Create", new {@class = "btn btn-primary" })
</p>
<table class="table table-bordered table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GLAccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountBalance)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Username)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GLAccountName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AccountBalance)
    </td>
    <td></td>
</tr>}

</table>
