@model CBA.CORE.Models.AccountTypeManagement

@{
    ViewBag.Title = "EditSavings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditSavings</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AccountTypeManagement</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)


        <div class="form-group">
            @Html.LabelFor(model => model.SavingsCreditInterestRate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SavingsCreditInterestRate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SavingsCreditInterestRate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SavingsMinimumBalance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SavingsMinimumBalance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SavingsMinimumBalance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SavingsInterestExpenseGlID, "SavingsInterestExpenseGlID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SavingsInterestExpenseGlID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SavingsInterestExpenseGlID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SavingsInterestPayableGlID, "SavingsInterestPayableGlID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SavingsInterestPayableGlID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SavingsInterestPayableGlID, "", new { @class = "text-danger" })
            </div>
        </div>


        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.IsOpened)
        @Html.HiddenFor(model => model.FinancialDate)

        @Html.HiddenFor(model => model.COT)
        @Html.HiddenFor(model => model.COTIncomeGlID)
        @Html.HiddenFor(model => model.CurrentInterestExpenseGlID)
        @Html.HiddenFor(model => model.CurrentCreditInterestRate)
        @Html.HiddenFor(model => model.CurrentMinimumBalance)

        @Html.HiddenFor(model => model.LoanDebitInterestRate)
        @Html.HiddenFor(model => model.LoanInterestIncomeGlID)
        @Html.HiddenFor(model => model.LoanInterestReceivableGlID)


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
