@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Roles";
}

<h4>All Created Roles</h4>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-controller="Administration" asp-action="addrole"
       >Add new role</a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            @*<div class="card-header">
                Role Id : @role.Id
            </div>*@
            <div class="card-body">
                <h5 class="card-title">Role Name: @role.Name</h5>
            </div>
            <div class="card-footer">
                <a asp-controller="Administration" asp-action="EditRole"
                   asp-route-id="@role.Id" class="btn btn-primary" style="border-radius: 20px; margin-right: 1rem;">
                    Edit Role
                </a>
                <a asp-controller="Administration" asp-action="EditDetail"
                   asp-route-id="@role.Id" class="btn btn-primary" style="border-radius: 20px; margin-right: 1rem;">
                   Details
                </a>
                <a asp-action="ManageRoleClaims" asp-route-id="@role.Id"
                   style="width:auto" class="btn btn-primary">
                    Manage Claims
                </a>

                @*<a href="#" class="btn btn-danger">Disable</a>*@
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="administration" asp-action="CreateRole">
                Create Role
            </a>
        </div>
    </div>
}
